<GridLayout columns="*" rows="75, *, 50, 75" >
    <GridLayout row="0" col="0" class="container" columns="165, 10, *" rows="*">
        <FlexboxLayout row="0" col="0" class="group datepicker" flexDirection="row" justifyContent="space-between" alignItems="center">
            <Label class="date" text="31/02/2016"></Label>
            <Label class="fas calendar" text="&#xf073;"></Label>
        </FlexboxLayout>
        <FlexboxLayout row="0" col="2" class="group" flexDirection="row" justifyContent="space-between" alignItems="center">
            <Switch checked="true" (checkedChange)="onCheckedChange($event)"></Switch>
            <Label class="period" text="Morning"></Label>
        </FlexboxLayout>
    </GridLayout>
    <ScrollView class="scroll" row="1" col="0">
        <FlexboxLayout flexDirection="column" class="list">
            <ns-list-item *ngFor="let item of items" [item]="item"></ns-list-item>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout row="2" col="0" class="container">
        <Label class="fas chevron" text="&#xf103;"></Label>
    </FlexboxLayout>
    <Button row="3" col="0" text="Leave Memory" (tap)="goBack($event)" pageTransition="slide" class="button"></Button>
</GridLayout>
