<GridLayout columns="*" rows="75, *, 50, 75" >
    <FlexboxLayout row="0" col="0" class="container">
        <Label class="h1" text="Date Picker" ></Label>
    </FlexboxLayout>
    <ScrollView class="scroll" row="1" col="0">
        <FlexboxLayout flexDirection="column" class="list">
            <ns-list-item *ngFor="let item of items" [item]="item"></ns-list-item>
        </FlexboxLayout>
    </ScrollView>
    <FlexboxLayout row="2" col="0" class="container">
        <Label class="fas chevron" text="&#xf103;"></Label>
    </FlexboxLayout>
    <Button row="3" col="0" text="Leave Memory" (tap)="goBack($event)" pageTransition="slide" class="button"></Button>
</GridLayout>
