@import '../style/app-variables';

.title {
    justify-content: center;
    align-items: center;
}

.circle {
    justify-content: center;
    align-items: center;

    Button {
        width: 200;
        height: 200;
        border-radius: 100%;
        background-color: $primary;
        font-weight: 300;
        font-size: 22;
    }

    .face {
        width: 200;
        height: 200;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-weight: 300;
        font-size: 22;
    }

    .p {
        margin: 15 0;
        color: $primary;
    }
}

.footer {
    justify-content: center;
    align-items: center;

    .p {
        font-weight: 500;
        font-size: 24;
        text-decoration: underline;
        color: $primary;
    }

    .success {
        padding: 0 5;
        border-width: 1;
        border-color: $green;
        color: $green;
    }
}
