<FlexboxLayout flexDirection="row" class="options">
    <TextField hint="Enter date"
           [text]='dateChoice | date:"MM/dd/yy"'
           secure="false"
           keyboardType="datetime"
           returnKeyType="done"
           (returnPress)="onReturnPress($event)"
           autocorrect="false"
           maxLength="10"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)"
           class="input input-border"></TextField>
    <Switch class="m-15" [checked]="isMorning" (checkedChange)="onSecondChecked($event)"></Switch>
</FlexboxLayout>
