@import '../../style/app-variables';

.container {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    padding: 15;

    Label {
        color: $primary;
    }
}

.buttons {
    justify-content: center;
}

.play {
    color: $primary;
    font-size: 60em;
}

VideoPlayer {
    width: 100%;
}
