@import '../../../style/app-variables';

.container {
    align-items: center;
    justify-content: space-between;

    Button {
        border-radius: 100%;
        width: 50;
        height: 50;
        background-color: $primary;
        margin: 0 10;
        font-size: 20em;
    }

    .duplicate {
        width: 65;
        height: 65;
        font-size: 30em;
    }
}
